@tailwind base;
@tailwind components;
@tailwind utilities;
*{ @apply transition-all duration-500 }
section {user-select: none;}
/* Scrollbar */
::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-track {background-color: #121212;}
::-webkit-scrollbar-thumb {
  background-color: #1e1e1f;
  border-radius: 10px;
  border: 3px solid #2a2e2e;
}
::-webkit-scrollbar-thumb:hover {background-color: #121212;}
/* Router Animation */
.router-Animation {animation: router-Animation 1s ease;}
@keyframes router-Animation {
  0% {left: -50%;}
  15%,
  85% {left: 50%;}
  100% {left: -50%;}
}
/* Hover */
.our-back-shadow:hover {background: linear-gradient(135deg, #1c69c9, transparent 30%);}
.services .box:hover h2:first-child {color: #1c69c9 !important;}
.services .box:hover p , .features .box:hover {color: white !important;}
.features .box:hover .icon i {color: #1c69c9;}
.features .box:hover i {filter: drop-shadow(0 0 5px #1c69c9);}
.portfolio .card:hover img {transform: scale(1.15); z-index: 1;}